body {
    font-family: 'VT323', monospace;
    background: black;
    width: 100%;
    padding: 0;
    margin: 0;
    font-size: 52px;
/*    text-align: center;*/
    position: relative;
    color: #39393C;
}

#header {
    width: 100%;
    height: 40px;
    background-color: #39393C;
    font-size: 34px;
    color: #0CCA4A;
    text-align: center;
    
}

form {
    text-align: center;
    width: 450px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

label {
    float: left;
    margin-top: 10px;
    margin-bottom: 10px;
}

.field {
    background-color: rgba(12, 202, 75, 0.4);
    width: 450px;
    height: 76px;
    border: none;
    padding: 12px 12px;
    font-size: 43px;
    color: #a9a9a9;
}

input:focus {
    outline: 1px solid #0CCA4A !important;
}

button {
    background-color: #39393C;
    width: 170px;
    height: 40px;
    color: #0CCA4A;
    border: 2px solid rgba(12, 202, 75, 0.3);
    text-decoration: none;
    font-size: 20px;
    padding: 5px 10px;
    margin-top: 20px;
    border-radius: 5px;
}

button:active {
        border: 3px solid rgba(12, 202, 75, 0.8);
}